@model BLL.DTOs.BookDTO

@{
    ViewData["Title"] = "Book Details";
}
<h1 style="font-family: Arial, sans-serif; color: #3366CC; font-size: 28px; font-weight: bold; text-align: center;">Book Details</h1>

<style>
    .book-image {
        display: inline-block;
        width: 100px;
        height: 150px;
        overflow: hidden;
    }

        .book-image img {
            width: 100%;
            height: auto;
        }

    .details-container {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
    }

    .row{
        margin-left:20px;
    }
</style>



<div class="details-container">
    <div class="book-image">
        <img src="~/images/@Model.CoverImageUrl" alt="@Model.Title" />
    </div>

    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Language)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Language)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.AuthorName)
        </dt>
        <dd class="col-sm-10">
          
            @Html.ActionLink(Model.AuthorName, "Details", "Author", new { id = Model.AuthorId }, null)
        </dd>
    </dl>
</div>
<br />
<div>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id },new { @class = "btn btn-warning" })
    @Html.ActionLink("Delete", "Delete", new { id = Model.Id }, new { @class = "btn btn-danger" })
    <a asp-action="Index" class="btn btn-primary">Back to List</a>
</div>
