@model BLL.DTOs.BookDTO

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>BookDTO</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" enctype="multipart/form-data">

            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">

                <input asp-for="Id" type="hidden" value="@Model.Id" class="form-control" />
                <input asp-for="CoverImageUrl" type="hidden" value="@Model.CoverImageUrl" class="form-control" />

            </div>
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" value="@Model.Title" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Language" class="control-label"></label>
                <input asp-for="Language" class="form-control" value="@Model.Language" />
                <span asp-validation-for="Language" class="text-danger"></span>
            </div>

            <div class="form-group">
                <br />
             
                <td>
                    <img src="~/images/@Model.CoverImageUrl" class="rounded-circle" alt="Book Image" width="50" height="50">
                </td>
                <br />
                <br />
                <label class="control-label">Image</label>

                <div class="custom-file">
                    <input type="file" id="customFile" name="upload" accept="image/*">
                    <label class="custom-file-label" for="customFile">Choose file</label>
                </div>

                <span asp-validation-for="CoverImageUrl" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="AuthorName" class="control-label"></label>
                <input asp-for="AuthorName" class="form-control" value="@Model.AuthorName" />
                <span asp-validation-for="AuthorName" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="AuthorName" class="control-label"></label>
                <select asp-for="AuthorId" asp-items="@(new SelectList(ViewBag.Authors, "Id", "Name", Model.AuthorId))" class="form-control"></select>
                <span asp-validation-for="AuthorName" class="text-danger"></span>
            </div>

            <div class="form-group">
            
                <input asp-for="AuthorId" class="form-control" type="hidden" value="@Model.Id" />
         
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
